@font-face {
    font-family: "Gothic A1";
    font-style: normal;
    font-weight: 400;
    src: local("Gothic A1"),
        url("./fonts/GothicA1-Regular.woff") format("woff")
}

@font-face {
    font-family: "Gothic A1";
    font-style: normal;
    font-weight: bold;
    src: local("./fonts/GothicA1-Bold.woff") format("woff")
}

.background-color {
    background-color: #26408B;
}

.white-color {
    background-color: #ffffff;
}

.hidden {
    display: none;
    visibility: hidden;
    max-width: 0 !important;
    max-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.icon {
    min-width: 32px;
    min-height: 32px;
    width: 32px;
    height: 32px;
    max-width: 32px;
    max-height: 32px;
}

.icon-active {
    cursor: pointer;
}

body {
    display: flexbox;
    margin: 0;
    padding: 0;
}

/* #region Header */

header {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 8px;
}

.header-button {
    display: inline-flex;
    padding: 16px 24px 16px 24px;
    border-radius: 32px;
}

.header-button:hover {
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.header-button a,
.header-button a:hover {
    cursor: default;
    text-decoration: none;
}

.header-button a {
    color: #ffffff;
}

.header-button:hover a,
.header-button:hover span {
    color: #000000;
}

.header-button span {
    font-family: "Gothic A1";
    font-style: normal;
    font-size: 28px;
    line-height: 35px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    display: flex;
    color: #ffffff;

    cursor: default;
}

.navigation-buttons {
    display: flex;
}

.header-reverse {
    flex-direction: row-reverse;
    flex-grow: 1;
}

.find-row {
    flex-grow: 1;
    display: inline-flex;
    padding: 16px;
    align-items: center;
    border-radius: 32px;
    max-height: 35px;
}

.find-row textarea {
    resize: none;
    border: 0;
    margin: 0 8px 0 8px;
    flex-grow: 2;
    outline: none;

    overflow: hidden;
    font-size: 28px;
    font-family: "Gothic A1";
    font-weight: bold;
}

.find-row img {
    flex-grow: 1;
}

/* #endregion */
/* #region PageContent */

.page-content {
    border-radius: 32px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

    padding: 8px;
}

/* #endregion */
/* #region Footer */

footer {
    flex-grow: 1;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    color: #ffffff;
}

/* #endregion */
