@font-face {
    font-family: "Gothic A1";
    font-style: normal;
    font-weight: 400;
    src: local("Gothic A1"),
        url("./fonts/GothicA1-Regular.woff") format("woff")
}

@font-face {
    font-family: "Gothic A1";
    font-style: normal;
    font-weight: bold;
    src: local("./fonts/GothicA1-Bold.woff") format("woff")
}

.background-color {
    background-color: #26408B;
}

.white-color {
    background-color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* #region Header */

header {
    display: flex;
    flex: auto;
    align-items: center;
    padding: 8px;
}

.header-button {
    display: inline-flex;
    padding: 16px 24px 16px 24px;
    /* margin: 18px; */
    border-radius: 32px;
}

.header-button:hover {
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.header-button a,
.header-button a:hover {
    cursor: default;
    text-decoration: none;
}

.header-button a {
    color: #ffffff;
}

.header-button:hover a {
    color: #000000;
}

.header-button span {
    font-family: "Gothic A1";
    font-style: normal;
    font-size: 28px;
    line-height: 35px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    display: flex;
}

.navigation-buttons {
    display: flex;
}

/* #endregion */
/* #region PageContent */

.page-content {
    flex: auto;

    border-radius: 32px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

    padding: 8px;
}

/* #endregion */
/* #region Footer */

footer {
    position: absolute;
    flex: auto;
    bottom: 0;
    align-items: center;
}

/* #endregion */
